@font-face {
    font-family: Righteous;
    src: url('fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: Bree;
    src: url('fonts/BreeSerif-Regular.ttf');
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Bold.ttf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background-color: #0F5298;
    color: white;
    height: 60px;
    padding: 0 20px;
}

header h1 {
    font-family: Righteous;
    background-color: #E4F0F6;
    color: #0E2433;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
}

header h1 span {
    font-family: Bree;
    font-weight: normal;
    background-color: #0E2433;
    color: whitesmoke;
    padding: 0 7px;
    border-radius: 5px;
}

nav {
    height: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 60px;    
    padding: 0 15px;
}

ul li:hover {
    background-color: #3C99DC;
    transition: 100ms ease-in;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}

main {
    width: 90vw;
    background-color: white;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    padding: 20px;
}

article {
    padding: 0 15% 10vh 15%;
    font-family: 'Libre Baskerville', Times, serif;
}

article h2 {
    color: #5BA4CF;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
}

article h3 {
    color: #888;
    text-align: center;
    display: block;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0 5%;    
}

article p {
    text-align: justify;
    text-indent: 5%;
    padding: 0 5%;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #444;
}

article h4 {
    padding: 0 5%;
    font-size: 1.3rem;
    margin: 1.5rem 0;
    color: #444;
    font-weight: bold;
}

article p + p {
    margin-top: 1rem;
}

figure img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

p + figure {
    margin-top: 1rem;
}

figure figcaption {
    color: #888;
    font-size: 0.9rem;
    padding: 0 2%;
    margin: 5px auto 20px auto;
}

iframe {
    display: block;
    margin: 1rem auto;
}

article:last-child {
    padding-bottom: 5vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #888;
}