@font-face {
    font-family: Righteous;
    src: url('fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: Bree;
    src: url('fonts/BreeSerif-Regular.ttf');
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Bold.ttf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background-color: #0F5298;
    color: white;
    height: 60px;
    padding: 0 20px;
}

header h1 {
    font-family: Righteous;
    background-color: #E4F0F6;
    color: #0E2433;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    user-select: none;
}

header h1 span {
    font-family: Bree;
    font-weight: normal;
    background-color: #0E2433;
    color: whitesmoke;
    padding: 1px 7px;
    border-radius: 5px; 
}

nav {
    height: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 60px;    
    padding: 0 15px;
}

ul li:hover {
    background-color: #3C99DC;
    transition: 100ms ease-in;
}

li.active {
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}

main {
    width: 90vw;
    background-color: white;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #888;
}